.news-card {
    display: flex !important;
}

.animated-slide {
    font-weight: bold;
    font-size: 3rem;
    color: #000000;
    position: relative;
    animation: slide-in 5s ease-in-out infinite;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
