
.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navbar-expand-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-expand-lg .navbar-toggler {
    display: none;
}


/*-------------button back to top-----------------*/
/* Định dạng nút */
#backToTopBtn {
    display: none; /* Ẩn nút ban đầu */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
}

/* Hiệu ứng hover */
#backToTopBtn:hover {
    background-color: #0056b3;
}

/* Hiển thị nút khi có class "show" */
#backToTopBtn.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------*/
.banner {
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    align-items: end;
    /*opacity: 0.7;*/
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 40%;
    left: 100%; /* Đẩy menu con sang phải */
    margin-top: 0;
    border-radius: 0.25rem; /* Bo góc */
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block; /* Hiển thị menu con khi hover */
}

.arrow {
    font-size: 25px;
    margin-left: 10px;
    transform: rotate(0deg); /* Giữ mũi tên trỏ ngang */
    transition: transform 0.2s ease;
}

.dropdown-submenu:hover > a .arrow {
    transform: rotate(90deg); /* Xoay mũi tên khi hover */
}

.child-item{
    width: 200px;
    padding: 4px 24px;
    border-bottom: 1px solid #000000;
}

.dropdown-toggle {
    white-space: nowrap;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*--------------------------------------------*/
/* Đảm bảo văn bản nhập vào sẽ có màu đen (hoặc màu bạn mong muốn) */
.dropdown-toggle::after {
    top: 45%;
}

.form-control {
    color: black !important;
    border: 1px solid black !important;
    /* height: 45px !important; */
}

.title-nav {
    text-transform: uppercase;
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*opacity: 0.7;*/
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: red;
}

.tour-card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.tour-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.tour-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #d32f2f;
}

.price {
    color: #d32f2f;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #757575;
}

.section-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.icon-box {
    border: 1px solid #007bff;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    transition: 0.3s;
    gap: 0 8px;
}

.icon-box:hover {
    background-color: #f0f8ff;
}

.icon-box i {
    /* font-size: 2rem; */
    color: #007bff;
}

.content-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.quote-box {
    border: 2px dashed #007bff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.quote-box::before {
    content: "“";
    font-size: 2rem;
    color: #007bff;
    position: absolute;
    top: -10px;
    left: -10px;
}

.section2_title {
    font-size: 13px;
}

.section2_img {
    width: 107px;
    height: 65px;
}